nav {
    margin: 0 4rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
}
.hero {
    background-image: url("strawberry.jpg");
    background-size: cover;
    height: 75vh;
    color: rgb(19, 2, 80);
}
.hero-content {
    display: flex;
    flex-direction: column;
    padding: 8vh 6vw;
    max-width: 45vw;
}
main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    font-size: clamp(2rem, 2vw, 1.4rem);
    text-decoration: none;
    color: rgb(0, 0, 0);
}

